server:
  ingress:
    enabled: true
    annotations:
      ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
  resources:
    limits:
      cpu: 100m
      memory: 1000Mi
    requests:
      cpu: 10m
      memory: 500Mi
alertmanager:
  ingress:
    enabled: true
    annotations:
      ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
  resources:
    limits:
      cpu: 10m
      memory: 20Mi
    requests:
      cpu: 5m
      memory: 10Mi
kubeStateMetrics:
  resources:
    limits:
      cpu: 10m
      memory: 50Mi
    requests:
      cpu: 5m
      memory: 25Mi
nodeExporter:
  resources:
    limits:
      cpu: 10m
      memory: 20Mi
    requests:
      cpu: 5m
      memory: 10Mi
pushgateway:
  resources:
    limits:
      cpu: 10m
      memory: 20Mi
    requests:
      cpu: 5m
      memory: 10Mi
serverFiles:
  alerts:
    groups:
    - name: nodes
      rules:
      - alert: Too-Many-Nodes
        expr: count(kube_node_info) > 3
        for: 1m
        labels:
          severity: notify
        annotations:
          summary: Cluster increased
          description: The number of the nodes in the cluster increased
      - alert: Too-Few-Nodes
        expr: count(kube_node_info) < 3
        for: 1m
        labels:
          severity: notify
        annotations:
          summary: Cluster decreased
          description: The number of the nodes in the cluster decreased
      - alert: Not-Enough-CPU
        expr: sum(rate(node_cpu_seconds_total{mode!="idle", mode!="iowait", mode!~"^(?:guest.*)$"}[5m])) / count(node_cpu_seconds_total{mode="system"}) > 0.9
        for: 30m
        labels:
          severity: notify
        annotations:
          summary: There's not enough CPU
          description: CPU usage of the cluster is above 90%
      - alert: Too-Much-CPURequested
        expr: sum(kube_pod_container_resource_requests_cpu_cores) / sum(kube_node_status_allocatable_cpu_cores) > 0.9
        for: 30m
        labels:
          severity: notify
        annotations:
          summary: There's not enough allocatable CPU
          description: More than 90% of allocatable CPU is requested
      - alert: Not-Enough-Memory
        expr: 1 - sum(node_memory_MemAvailable_bytes) / sum(node_memory_MemTotal_bytes) > 0.9
        for: 30m
        labels:
          severity: notify
        annotations:
          summary: There's not enough memory
          description: Memory usage of the cluster is above 90%
      - alert: Too-Much-Memory-Requested
        expr: sum(kube_pod_container_resource_requests_memory_bytes) / sum(kube_node_status_allocatable_memory_bytes) > 0.9
        for: 30m
        labels:
          severity: notify
        annotations:
          summary: There's not enough allocatable memory
          description: More than 90% of allocatable memory is requested
      - alert: Too-Much-CPU-And-Memory
        expr: (sum(rate(node_cpu_seconds_total{mode!="idle", mode!="iowait", mode!~"^(?:guest.*)$"}[5m])) by (instance) / count(node_cpu_seconds_total{mode="system"}) by (instance)) < 0.5 and (1 - sum(node_memory_MemAvailable_bytes) by (instance) / sum(node_memory_MemTotal_bytes) by (instance)) < 0.5
        for: 30m
        labels:
          severity: notify
        annotations:
          summary: Too much unused CPU and memory
          description: Less than 50% of CPU and 50% of memory is used on at least one node
    - name: pods
      rules:
      - alert: Problematic-Pods
        expr: sum(kube_pod_status_phase{phase=~"Failed|Unknown|Pending"}) by (phase) > 0
        for: 15m
        labels:
          severity: notify
        annotations:
          summary: At least one Pod could not run
          description: At least one Pod is in a problematic phase
      - alert: Old-Pods
        expr: (time() - kube_pod_start_time{namespace!="kube-system"}) > (60 * 60 * 24 * 90)
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Old Pods
          description: At least one Pod has not been updated to more than 90 days
      - alert: Reserved-Mem-Too-Low
        expr: sum(label_join(container_memory_usage_bytes{namespace!="kube-system", namespace!="ingress-nginx"}, "pod", ",", "pod_name")) by (pod) / sum(kube_pod_container_resource_requests_memory_bytes{namespace!="kube-system"}) by (pod) > 1.5
        for: 1h
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Reserved memory is too low
          description: At least one Pod uses much more memory than it reserved
      - alert: Reserved-Mem-Too-High
        expr: sum(label_join(container_memory_usage_bytes{namespace!="kube-system", namespace!="ingress-nginx"}, "pod", ",", "pod_name")) by (pod) / sum(kube_pod_container_resource_requests_memory_bytes{namespace!="kube-system"}) by (pod) < 0.5 and sum(kube_pod_container_resource_requests_memory_bytes{namespace!="kube-system"}) by (pod) > 5.25e+06
        for: 6h
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Reserved memory is too high
          description: At least one Pod uses much less memory than it reserved
      - alert: Reserved-CPU-Too-Low
        expr: sum(label_join(rate(container_cpu_usage_seconds_total{namespace!="kube-system", namespace!="ingress-nginx", pod_name!=""}[5m]), "pod", ",", "pod_name")) by (pod) / sum(kube_pod_container_resource_requests_cpu_cores{namespace!="kube-system"}) by (pod) > 1.5
        for: 1h
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Reserved CPU is too low
          description: At least one Pod uses much more CPU than it reserved
      - alert: Reserved-CPU-Too-High
        expr: sum(label_join(rate(container_cpu_usage_seconds_total{namespace!="kube-system", pod_name!=""}[5m]), "pod", ",", "pod_name")) by (pod) / sum(kube_pod_container_resource_requests_cpu_cores{namespace!="kube-system"}) by (pod) < 0.5 and sum(kube_pod_container_resource_requests_cpu_cores{namespace!="kube-system"}) by (pod) > 0.005
        for: 6h
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Reserved CPU is too high
          description: At least one Pod uses much less CPU than it reserved
      - alert: Memory-At-The-Limit
        expr: sum(label_join(container_memory_usage_bytes{namespace!="kube-system"}, "pod", ",", "pod_name")) by (pod) / sum(kube_pod_container_resource_limits_memory_bytes{namespace!="kube-system"}) by (pod) > 0.8
        for: 1h
        labels:
          severity: notify
          frequency: low
        annotations:
          summary: Memory usage is almost at the limit
          description: At least one Pod uses memory that is close it its limit
alertmanagerFiles:
  alertmanager.yml:
    global: {}
    route:
      group_wait: 10s
      group_interval: 5m
      receiver: slack
      repeat_interval: 3h
      routes:
      - receiver: slack
        repeat_interval: 5d
        match:
          severity: notify
          frequency: low
    receivers:
    - name: slack
      slack_configs:
      - api_url: "https://hooks.slack.com/services/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"
        send_resolved: true
        title: "{{ .CommonAnnotations.summary }}" 
        text: "{{ .CommonAnnotations.description }}"
        title_link: http://monitor.cluster.prageethw.co/alerts